.navbar-brand {
    font-size: 35px;
    /* background-color: #4aaaa5; */
    background-color:  rgb(10, 126, 204);
    font-family: 'Georgia', 'Times', 'Times New Roman', serif;

  }

  .name {
    color: white;
    font-family: 'Inconsolata', monospace;
    font-size: 40px;
  }

  h2 {
    color: #4aaaa5;
  }

  h3 {
    text-align: center;
  }

  body {
    background-image: url(../images/stardust/stardust.png);
  }

  li {
    font-weight: bold;
  }

  .footer.navbar-fixed-bottom {
    background-color: #666666;
    color: #4c4040;
    text-align: center;
    padding: 30px;
    border-top: 7.5px solid #4aaaa5;
  }

  .navbar.navbar-default {
    background-color: white;
  }

  .col-md-8 {
    background-color: white;
    color: #777777;
    border: 5px solid #dddddd;

  }

  .panel.panel-default {
    background-color: white;
    color: #777777;
    border: 5px solid #dddddd;
  }

  .bodycontents {
    margin-bottom: 40px;
    font-family: 'Verdana', sans-serif;
    line-height: 24px;
    font-size: 16px;
    color: white;
  }

  .panel-title {
    color: #4aaaa5;
  }

  /*added from contact html css*/
  #message {
    height: 250px;
  }

  .btn.btn-primary {
    background-color: #4aaaa5;
    margin-bottom: 20px;

  }

  /*added from portfolio html css*/
  .newton {
    margin-bottom: 20px;
  }


  .carousel-caption {
    position: absolute;
    background-color: rgb(42, 200, 221);
    color: black;
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
    left: 75px;
    width: 210px;
  }

  .panel-title {
    color: #4aaaa5;
  }

  .img-fluid {
    margin-left: 60px;
    margin-top: 20px;
    border: 5px solid rgb(42, 200, 221);
    padding: 0px 0px 0px 0px;
  }

  .aboutme, .portfolio {
    background-color: rgb(10, 126, 204);
  }

  .contactform {
    background-color: black;
  }

  label {
    color: white;
  }

  h2 {
    color: rgb(42, 200, 221);
  }

  .contactheader {
    color: white;
  }

  div.panel.panel-default {
    background-color: black;
  }

  /*media queries */
   @media (max-width: 991px){
    .panel.panel-default {
      margin-top: 20px;
      margin-bottom: 110px;
    }

    /*from portfolio media query*/

    .pic {
      margin-left: 190px;
    }

    .connect {
      margin-top: 20px;
    }
  }

  /*new media queries from portfolio too*/

   @media (max-width: 768px) {
    h2 {
      text-align: center;
    }
  }


  @media (max-width: 680px) {
    .pic {
      margin-left: 100px;
    }
  }

  @media (max-width: 525px) {
    .pic {
      margin-left: 20px;
    }
  }

